mj-section(padding="20px 30px" background-color="#fbfbfb") 
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.Prenom }},
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Vous souhaitez faire de votre intérêt pour la #[span(style="font-weight:700;") nutrition] et le #[span(style="font-weight:700;") bien-être] un véritable métier&nbsp;?
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Chez ECOSUP DIÉTÉTIQUE, nous formons les futurs professionnels de la diététique grâce à un parcours complet et professionnalisant.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#127891;] Formations disponibles dans le pôle Santé / Diététique et Nutrition&nbsp;: 
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; BTS Diététique et Nutrition (Bac&nbsp;+2)
        mj-text(padding="0" padding-left="30px" mj-class="T16-400" color="#0D364F") &#10142; Formation professionnalisante pour devenir diététicien(ne) diplômé(e)
        mj-text(padding="0" padding-left="30px" mj-class="T16-400" color="#0D364F") &#10142; Métiers visés&nbsp;: diététicien(ne) en cabinet, hôpital, collectivités, restauration collective, entreprise de conseil nutritionnel, de fédérations et de centres sportifs, secteur agroalimentaire…
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Bachelor Chargé de Projet en Nutrition  (Bac&nbsp;+3)
        mj-text(padding="0" padding-left="30px" mj-class="T16-400" color="#0D364F") &#10142; Pour approfondir vos compétences et accéder à des postes à responsabilité
        mj-text(padding="0" padding-left="30px" mj-class="T16-400" color="#0D364F") &#10142; Débouchés&nbsp;: chargé(e) de projet nutritionnel, consultant(e) santé et nutrition, gestion de programmes alimentaires, prévention et éducation nutritionnelle
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300;") 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[span(style="font-weight:300;") 17 place Charles et Albert Roussel, Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#F6B9D5")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Présentation détaillée du BTS Diététique et Nutrition  et du Bachelor Nutrition & Diététique
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Rencontre avec les formateurs et professionnels
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Conseils personnalisés autour de projet
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Visite du campus et de ses équipements pédagogiques
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] C’est le moment idéal pour découvrir comment transformer votre intérêt pour ce domaine en une carrière concrète et valorisante.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  Nous serons ravis de vous accueillir&nbsp;!