//-Core Assurance
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
       mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.PRENOM }},
       mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Vous cherchez une formation qui vous ouvre de vraies opportunités&nbsp;?
       mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Chez #[span(style="font-weight:700;") Ecosup Campus], nous croyons avant tout à l’échange, à l’écoute et à la rencontre. Ici, chaque candidat est accompagné avec bienveillance pour construire un projet solide et ambitieux.
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#127891;] Venez découvrir nos formations dans un secteur passionnant&nbsp;:
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; BTS Assurance 
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Bachelor Chargé(e) de Clientèles en Assurance & Banque #[span(style="font-weight:400;font-style:italic") (Bac&nbsp;+3)]
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère Expert(e) en Ingénierie Patrimoniale #[span(style="font-weight:400;font-style:italic") (Bac&nbsp;+5)] 
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère Manager de l’Assurance #[span(style="font-weight:400;font-style:italic") (Bac&nbsp;+5)]
       mj-spacer(height="8px")
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128073;] Vous vous intéressez à l’assurance, la finance, la gestion des risques ou la relation client&nbsp;?
       mj-text(padding="0" mj-class="T16-400" color="#0D364F")  Nos équipes seront là pour répondre à toutes vos questions.
       mj-spacer(height="20px")
       mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300;") 9h30 à 13h]
       mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[span(style="font-weight:300;") Tourcoing]
mj-section(padding="0px 30px" background-color="#fbfbfb") 
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#bb4e97")
       mj-text(padding="0" mj-class="T16-700" color="#ffffff") Au programme&nbsp;:
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") &#10003; Visite du campus
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") &#10003; Échanges avec nos formateurs
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") &#10003; Conseils personnalisés sur votre orientation
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") &#10003; Découverte d’un environnement proche, humain et dédié à votre réussite
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column 
       mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] C’est le moment idéal pour préparer votre avenir et trouver la formation qui vous correspond.
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") On vous attend&nbsp;!