mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
       mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour,
       mj-text(padding="0" padding-bottom="15px" mj-class="T16-400" color="#0D364F") Vous cherchez une formation qui vous ouvre de vraies opportunités ?
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") 🎓 Venez découvrir nos formations dans un secteur passionnant :
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; BTS Assurance 
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Bachelor Chargé(e) de Clientèles en Assurance & Banque (Bac +3)
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère Expert(e) en Ingénierie Patrimoniale (Bac +5) 
       mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère Manager de l’Assurance (Bac +5)
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") 👉 Vous vous intéressez à l’assurance, la finance, la gestion des risques ou la relation client ?
       mj-text(padding="0" mj-class="T16-400" color="#0D364F")  Nos équipes seront là pour répondre à toutes vos questions.
       mj-spacer(height="20px")
       mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") 📅 Samedi 13 décembre – de 9h30 à 13h
       mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") 📍 Ecosup Campus – 17 place Charles et Albert Roussel, Tourcoing
mj-section(padding="0px 30px" background-color="#fbfbfb") 
    mj-column(padding="20px" width="320px" border-radius="0px 20px 0px 40px" background-color="#bb4e97")
       mj-text(padding="0" mj-class="T16-700" color="#ffffff") Au programme :
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") ✔ Visite du campus
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") ✔ Échanges avec nos formateurs
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") ✔ Conseils personnalisés sur votre orientation
       mj-text(padding="0" mj-class="T16-400" color="#ffffff") ✔ Découverte d’un environnement proche, humain et dédié à votre réussite
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column 
       mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") 💡 C’est le moment idéal pour préparer votre avenir et trouver la formation qui vous correspond.
       mj-text(padding="0" mj-class="T16-400" color="#0D364F") On vous attend !