//-Header Assurance
mj-section(mj-class="bg0" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/bP0LZ5M/logo-Assurance-Blanc.png" alt="logo Ecosup Assurance")/
mj-section(padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/tTCRX2sY/affiche-Jpo20252026.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section
    mj-column
        mj-text(padding="0" align="center") Prêt(e) à trouver votre future formation ? 
        mj-text(padding="0" align="center") Rendez-vous à notre JPO ! 🚀