//-Core Immobilier
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.PRENOM }},
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Vous souhaitez évoluer dans le #[span(style="font-weight:700;") monde de l’immobilier] et découvrir la #[span(style="font-weight:700;") Prospection commerciale], les #[span(style="font-weight:700;") Techniques de négociation], la #[span(style="font-weight:700;") Gestion locative] et bien d’autres&nbsp;? 
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Venez découvrir le #[span(style="font-weight:700;") BTS professions immobilières] #[span(style="font-style:italic;") (Bac+2)]  
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300") 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[span(style="font-weight:300") Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#FCE47F")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Présentation du BTS
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Échanges avec les responsables pédagogiques
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Conseils d’orientation autour de votre projet
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Profitez de cette JPO pour choisir et affiner votre projet professionnel.