//-Header Immobilier
mj-section(mj-class="bg0" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/HfGm43kc/ECOSUPimmo-Blanc.png" alt="logo Ecosup Immobilier")/
mj-section(background-color="#ecebf3" padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/tTCRX2sY/affiche-Jpo20252026.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section
    mj-column
        mj-text Lancez votre carrière en dans le domaine de l’immobilier
        mj-text JPO Ecosup Campus le 13 décembre 💼
