//-Core Tourisme
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{contact.Prenom}}
        mj-text(padding="0" padding-bottom="5px" mj-class="T16-400" color="#0D364F") Vous voulez travailler dans le tourisme, l’événementiel ou le monde du voyage ?
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Venez découvrir le secteur du Tourisme et nos formations :
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; BTS Tourisme #[span(style="font-style:italic;font-weight:400;") (Bac +2) en apprentissage ou initial.]
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Bachelor chargé de développement de produits touristiques #[span(style="font-style:italic;font-weight:400;") (Bac +3) en apprentissage.]
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère manager de l'événementiel et du tourisme #[span(style="font-style:italic;font-weight:400;") (Bac +5) en apprentissage.]
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi&nbsp;13&nbsp;décembre #[span(style="font-weight:300") 9h30&nbsp;à&nbsp;13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[span(style="font-weight:300") Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px" width="320px" border-radius="0px 20px 0px 40px" background-color="#ADD2DB")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Découverte des formations. 
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Ateliers orientation & métiers du tourisme.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Rencontre avec les équipes pédagogiques.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus.
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Venez vous projeter dans un secteur en pleine croissance, et identifier le parcours qui vous correspond.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") À&nbsp;bientôt&nbsp;!