mj-section(padding="20px 30px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" mj-class="T16-400 cT1") Bonjour
        mj-text(padding="0" mj-class="T16-400 cT1") Vous voulez travailler dans le tourisme, l’événementiel ou le monde du voyage ?
        mj-text(padding="0" mj-class="T16-400 cT1") Venez découvrir le secteur du Tourisme et nos formations :
        mj-text(padding="0" mj-class="T16-400 cT1") BTS Tourisme (Bac +2) en apprentissage ou initial.
        mj-text(padding="0" mj-class="T16-400 cT1") Bachelor chargé de développement de produits touristiques (Bac +3) en apprentissage.
        mj-text(padding="0" mj-class="T16-400 cT1") Mastère manager de l'événementiel et du tourisme (Bac +5) en apprentissage.
        mj-text(padding="0" mj-class="T20-700 cT1") Samedi 13 décembre – 9h30 à 13h
        mj-text(padding="0" mj-class="T18-700 cT1") Ecosup Campus – Tourcoing
mj-section(padding="0 30px" background-color="#ffffff")
    mj-column(padding="20px" border-radius="0px 20px 0px 40px" background-color="#ADD2DB")
        mj-text(padding="0" mj-class="T16-700 cT1") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400 cT1") Découverte des formations. 
        mj-text(padding="0" mj-class="T16-400 cT1") Ateliers orientation & métiers du tourisme.
        mj-text(padding="0" mj-class="T16-400 cT1") Rencontre avec les équipes pédagogiques.
        mj-text(padding="0" mj-class="T16-400 cT1") Visite du campus.
mj-section(padding="20px 30px" background-color="#ffffff")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400 cT1") Venez vous projeter dans un secteur en pleine croissance, et identifier le parcours qui vous correspond.
        mj-text(padding="0" mj-class="T16-400 cT1") À&nbsp;bientôt&nbsp;!