//-Header Tourisme
mj-section(mj-class="bg0" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/JndJbtQ/Logo-Tourisme-Blanc.png" alt="logo Ecosup Tourisme")/
mj-section(background-color="#ecebf3" padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/tTCRX2sY/affiche-Jpo20252026.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column
        mj-text(align="center" padding="0" padding-top="14px" mj-class="T24-700 cT1"  letter-spacing="2px") Explorez les métiers du tourisme &#9992;
        mj-text(align="center" padding="0" padding-bottom="14px" mj-class="T16-400 cT1"  letter-spacing="2px") JPO Ecosup Campus le 13 décembre 2025