mj-section(background-color="#ffffff")
    mj-column
        mj-text Bonjour
        mj-text Vous voulez travailler dans le tourisme, l’événementiel ou le monde du voyage ?
        mj-text Venez découvrir le secteur du Tourisme et nos formations :
        mj-text BTS Tourisme (Bac +2) en apprentissage ou initial.
        mj-text Bachelor chargé de développement de produits touristiques (Bac +3) en apprentissage.
        mj-text Mastère manager de l'événementiel et du tourisme (Bac +5) en apprentissage.