mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.Prenom }},
        mj-text(padding="0" padding-bottom="5px" mj-class="T16-400" color="#0D364F") Envie de vous former ou de vous reconvertir dans #[span(style="font-weight:700;") le monde de la petite enfance&nbsp;?]
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Nous vous proposons, Chez ECOSUP CAMPUS&nbsp;:
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; CAP Accompagnant Éducatif Petite Enfance
        mj-spacer=(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300;") 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[span(style="font-weight:300;") Tourcoing]
mj-section(padding="0px 30px" background-color="#fbfbfb")
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#9CD1BD")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Présentation détaillée de la formation
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Échanges avec le responsable pédagogique
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Conseils d’orientation pour un projet engagé
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column 
        mj-text(padding="0" mj-class='T16-400' color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Soyez acteur(rice) de votre futur métier, dans un domaine où l’humain est au cœur de l’action.
        