mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F" ) Bonjour,
        mj-text(padding="0" padding-bottom="5px" mj-class="T16-400" color="#0D364F" ) Vous souhaitez développer vos compétences en management, commerce et relation client ?
        mj-text(padding="0" mj-class="T16-400" color="#0D364F" ) Voici les formations proposées au sein de que nous pôle Commerce :
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F" ) &#9679; BTS Management Commercial Opérationnel (Bac +2)
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F" ) &#9679; Bachelor Responsable du Développement Commercial (Bac +3).
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F" ) 📅 Samedi 13 décembre – 9h30 à 13h
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F" ) 📍 Ecosup Campus – Tourcoing
mj-section(padding="0px 30px" background-color="#fbfbfb")
    mj-column(padding="20px" width="320px" border-radius="0px 20px 0px 40px" background-color="#FCE47F")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme :
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Présentation des formations
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Échanges avec les responsables pédagogiques
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Conseils d’orientation
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") 💡 Profitez de cette JPO pour choisir quelle formation correspond à votre projet professionnel.