//-Header Commerce
mj-section(background-color="#E5690F" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/wwWg6s3/logo-Commerce-Blanc.png" alt="logo Ecosup Commerce")/
mj-section(padding="0" background-color="#fbfbfb")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/84bfVPjX/Jpo20252026sf.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" align="center" padding-top="14px" mj-class="T24-700" color="#0D364F" letter-spacing="1px") Lancez votre carrière dans la relation client, la négociation et le Commerce
        mj-text(padding="0" align="center" padding-bottom="14px" mj-class="T24-300" color="#0D364F") JPO Ecosup Campus le 13 décembre #[span(style="font-size:28px;line-height:28px;") &#128188;]