mj-section(padding="20px 30px" background-color="#fbfbfb") 
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.PRENOM }},
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Vous souhaitez faire carrière dans l’hôtellerie ou la restauration&nbsp;? Ou souhaitez tout simplement découvrir de plus près cette filière passionnante&nbsp;? 
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Chez #[span(style="font-weight:700;") EcoSup Hôtellerie], nous vous proposons des formations professionnalisantes et dynamiques&nbsp;:
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mise à niveau post-bac #[span(style="font-weight:300;font-style:italic;") pour préparer l’entrée en BTS.]
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; BTS Management Hôtelier & Restauration #[span(style="font-weight:300;font-style:italic;") (option Unités de restauration, hébergement, production culinaire) (Bac&nbsp;+2)]
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Bachelor en Hôtellerie #[span(style="font-weight:300;font-style:italic;") (Bac&nbsp;+3)] 
        mj-text(padding="0" padding-left="15px" mj-class="T16-700" color="#0D364F") &#9679; Mastère Manager des Affaires en Hôtellerie #[span(style="font-weight:300;font-style:italic;") (Bac&nbsp;+5)] 
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300;") 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[a(style="text-decoration:none;color:#0D364F;font-weight:300" target="_blank" href="https://www.google.com/maps/place/17+Pl.+Charles+et+Albert+Roussel,+59200+Tourcoing") 17 place Charles et Albert Roussel, Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#FCDA90")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Présentation par niveau : de la mise à niveau au Mastère
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Échanges avec les formateurs et intervenants professionnels
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Conseils personnalisés sur votre orientation
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Visite des installations : restaurant d’application, cuisines, plateau technique. 
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Profitez de cette JPO pour comprendre comment chaque formation vous mène vers les métiers de l’hôtellerie.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") On vous attend&nbsp;!