mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.Prenom }},
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") Vous souhaitez travailler au #[span(style="font-weight:700;") cœur du secteur médical], en contact direct avec patients et professionnels de santé&nbsp;?
        mj-text(padding="0" padding-bottom="8px" mj-class="T16-400" color="#0D364F") La formation #[span(style="font-weight:700;") Secrétaire Médicale d’ECOSUP CAMPUS] vous prépare à un métier polyvalent et riche en expériences humaines.
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#127891;] Formation disponible&nbsp;:  Secrétaire Médicale – #[span(style="font-weight:400;") Titre certifié Niveau 4] #[span(style="font-style:italic;")(RNCP)]
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#10142; Formation professionnalisante
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#10142; En initial ou en apprentissage 
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#10142; Accessible dès 18 ans ou en reconversion
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#10142; Débouchés : hôpitaux, cabinets médicaux, laboratoires, cliniques privées, centres de soins, imagerie médicale …
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Samedi 13 décembre #[span(style="font-weight:300;") de 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup Campus #[a(style="text-decoration:none;color:#0D364F;font-weight:300" target="_blank" href="https://www.google.com/maps/place/17+Pl.+Charles+et+Albert+Roussel,+59200+Tourcoing") 17 place Charles et Albert Roussel, Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px 20px 30px 30px" width="320px" border-radius="0px 20px 0px 40px" background-color="#9CD1BD")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme&nbsp;:
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Rencontre avec nos formateurs
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Présentation du métier et du programme
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Echange autour de votre projet
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Une formation courte, concrète et idéale pour intégrer rapidement le secteur de la santé.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Nous vous attendons&nbsp;!