mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour,
        mj-text(padding="0" padding-bottom="5px" mj-class="T16-400" color="#0D364F") Vous souhaitez travailler au cœur du secteur médical, en contact direct avec patients et professionnels de santé ?
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") La formation Secrétaire Médicale d’ECOSUP CAMPUS vous prépare à un métier polyvalent et riche en expériences humaines.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") 🎓 Formation disponible :  Secrétaire Médicale – Titre certifié Niveau 4 (RNCP)
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") → Formation professionnalisante
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") → En initial ou en apprentissage 
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") → Accessible dès 18 ans ou en reconversion
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") → Débouchés : hôpitaux, cabinets médicaux, laboratoires, cliniques privées, centres de soins, imagerie médicale …
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") 📅 Samedi 13 décembre de 9h30 à 13h
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F")  📍 Ecosup Campus – 17 place Charles et Albert Roussel, Tourcoing
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px" width="320px" border-radius="0px 20px 0px 40px" background-color="#9CD1BD")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme :
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Rencontre avec nos formateurs
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Présentation du métier et du programme
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Echange autour de votre projet
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") &#10003; Visite du campus
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] Une formation courte, concrète et idéale pour intégrer rapidement le secteur de la santé.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Nous vous attendons !