mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") Bonjour {{ contact.Prenom }},
        mj-text(padding="0" padding-bottom="7px" mj-class="T16-400" color="#0D364F") Vous rêvez de travailler au quotidien avec les animaux et d’évoluer dans un environnement vétérinaire&nbsp;?
        mj-text(padding="0" padding-bottom="7px" mj-class="T16-400" color="#0D364F") Chez SUPVETO, nous formons les futurs professionnels du secteur grâce à un parcours complet et professionnalisant.
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#127891;] Formation Auxiliaire Spécialisé Vétérinaire #[span(style="font-style:italic;font-weight:300;") (ASV)]
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#8226; Parcours professionnalisant en 2 ans
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#8226; Plus de 25 semaines de pratiques professionnelles en stage
        mj-text(padding="0" padding-left="15px" mj-class="T16-400" color="#0D364F") &#8226; Structures d’accueil : clinique vétérinaire, Centre hospitalier, parc animalier et zoologique, refuges et élevages…
        mj-spacer(height="20px")
        mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") 📅 Samedi 13 décembre #[span(style="font-weight:300") 9h30 à 13h]
        mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") 📍 SUPVETO #[span(style="font-weight:300") 17 place Charles et Albert Roussel, Tourcoing]
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column(padding="20px" width="320px" border-radius="0px 20px 0px 40px" background-color="#98C98B")
        mj-text(padding="0" mj-class="T16-700" color="#0D364F") Au programme :
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Présentation détaillée du métier d’ASV
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Rencontre avec les formateurs et les étudiants
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Ateliers découvertes
        mj-text(padding="0" mj-class="T16-400" color="#0D364F")  &#10003; Visite de l’établissement
mj-section(padding="20px 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-bottom="20px" mj-class="T16-400" color="#0D364F") #[span(style="font-size:20px;line-height:20px;") &#128161;] C’est le moment idéal pour découvrir comment faire de votre passion un métier.
        mj-text(padding="0" mj-class="T16-400" color="#0D364F") Nous serons ravis de vous accueillir&nbsp;!