//-Header Tourisme
mj-section(background-color="#098855" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/ySpRTZj/logo-Supveto-Blanc.png" alt="logo Supveto Lille")/
mj-section( padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/tTCRX2sY/affiche-Jpo20252026.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" align="center" padding-top="14px" mj-class="T24-700" color="#0D364F" letter-spacing="2px") Passionné(e) par les animaux ? 
        mj-text(padding="0" align="center" padding-bottom="14px" mj-class="T16-400" color="#0D364F" letter-spacing="2px") Découvrez notre formation d’Auxiliaire Spécialisé Vétérinaire lors de la JPO ! 🐾