//-Header Tourisme
mj-section(mj-class="bg0" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/ySpRTZj/logo-Supveto-Blanc.png" alt="logo Supveto Lille")/
mj-section( padding="0")
    mj-column
        mj-image(padding="0" width="600px" src="https://i.ibb.co/tTCRX2sY/affiche-Jpo20252026.png" alt="affiche de la jpo du samedi 13 décembre 2025")/
mj-section
    mj-column
        mj-text Passionné(e) par les animaux ? 
        mj-text Découvrez notre formation d’Auxiliaire Spécialisé Vétérinaire lors de la JPO ! 🐾